{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"htmlWhitespaceSensitivity": "strict",
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		},
		{
			"files": "*.mdx",
			"options": {
				"parser": "svelte",
				"svelteSortOrder": "none",
				"htmlWhitespaceSensitivity": "strict"
			}
		}
	]
}
